<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Server>http://217.196.24.86:81/rfid2/</Server>
  <DeviceKey></DeviceKey>
  <Location></Location>
  <Language>ru</Language>
  <Team></Team>
</Configuration>